site_name: Garden-AI
nav:
  - Home: index.md
  - User Guide:
      - Introduction: user_guide/introduction.md
      - Installation: user_guide/installation.md
      - Tutorial: user_guide/tutorial.md
  - Overview: architecture_overview.md
  - Developer Guide:
      - Contributing: developer_guide/contributing.md
  - API Reference:
    - Models: Models.md
    - Steps: Steps.md
    - Pipelines: Pipelines.md
    - Gardens: Gardens.md
  - Changelog: changelog.md
theme: material
plugins:
  - search
  - callouts
  - mkdocstrings:
      handlers:
        python:
          options:
            group_by_category: true
            show_category_heading: true
            show_bases: false
markdown_extensions:
  - nl2br
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - codehilite
