[tool.poetry]
name = "garden-ai"
version = "0.1.0"
description = "Garden: tools to simplify access to scientific AI advances."
authors = ["Your Name <you@example.com>"]
license = "Apache-2.0"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.7"
requests = "^2.20.0"
globus-sdk = "^3.12.0"
pydantic = "^1.10.2"
typer = {extras = ["all"], version = "^0.7.0"}

[tool.poetry.scripts]
garden = "garden_ai.app.main:app"

[tool.poetry.group.test]
optional=true

[tool.poetry.group.test.dependencies]
pytest = "^7.2.0"
pytest-mock = "^3.10.0"
coverage = "^6.5.0"
codecov = "^2.1.12"
flake8 = "^5.0.4"
mypy = "^0.981"
types-requests = "^2.20.0"
safety = "^2.3.1"


[tool.poetry.group.develop.dependencies]
sphinx = "4.3.2"
sphinx-rtd-theme = "^1.0.0"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
plugins = ["pydantic.mypy"]

[tool.pytest.ini_options]
markers = [
        "integration: deselect with '-m \"not integration\"' to run unit tests only.",
        "cli: deselect with '-m \"not cli\"' to disable CLI tests."
]
